<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="compactDisc" class="spring.demo.soundsystem.SgtPeppers" c:_0="" c:_1=""/>

    <bean class="spring.demo.soundsystem.CDPlayer">
        <constructor-arg ref="compactDisc"/>
    </bean>

    <bean class="spring.demo.soundsystem.BlankDisc">
        <property name="artist" value="Eagle"/>
        <property name="title" value="Hotel California"/>
        <property name="tracks">
            <list>
                <value>1</value>
            </list>
        </property>
    </bean>
</beans>